 div.container {
   width: 98%;
   overflow: auto;
 }
 table.example {
   overflow: scroll;
   border-collapse: collapse;
 }
 table.example thead tr td {
   white-space: nowrap;
   padding: 0 10px;
   text-align: center;
   font-weight: bold;
 }
 table.example tr {
   padding: 4px;
 }
 table.example tbody tr td {
   border: 1px solid lightgray;
   padding: 5px;
   font-weight: normal;
 }
